* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #fff700 0%,
    #ffae42 25%,
    #ff5733 50%,
    #ff33a6 75%,
    #a64dff 100%
  );
  overflow: hidden;
}
.card {
  max-width: 450px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  padding-bottom: 10px;
}
.middle-card {
  transform: scale(1.2); /* Scales the middle card */
  z-index: 1; /* Places the middle card above the others */
  position: relative; /* Ensures it doesn't overlap unexpectedly */
  padding-bottom: 70px;
}
.card .btn {
  margin-bottom: 10px;
  height: 120px;
  width: 100%;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.card .second {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.second .img {
  height: 60px;
  width: 60px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.second .details {
  width: 70%;
  margin-left: 15px;
}
.details span {
  display: block;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .line1 {
  height: 16px;
  width: 100%;
}
.details .line2 {
  height: 12px;
  margin-top: 8px;
  width: 50%;
}
